body {
  background-color: black;
}

h1 {
  font-family: Rock Salt;
  font-size: 100px;
  color: white;
}

h2 {
  font-family: Pacifico;
  color: white;
}

h3 {
  font-family: Rock Salt;
  text-align: center;
  color: white;
  padding-bottom: 40px;
  padding-top: 20px;
  text-shadow: 2px 2px 8px #000000;
  font-size: 30px;
}

p {
  font-family: Questrial;
  font-size: 40px;
  text-indent: 30px;
  color: white;
}

.title {
  background-color: #4d81c9;
  padding-top: 80px;
  padding-bottom: 10px;
  background-image: url("http://imagizer.imageshack.us/a/img923/4943/YC41SX.gif");
  background-size: 100% 100%;
  height: 1080px;
}

.social-bar {
  padding-top: 360px;
}

.container-fluid {
  margin-top: -20px;
  margin-left: -20px;
  margin-right: -20px;
  background-color: black;
}

.btn-primary {
  font-family: Questrial;
  font-size: 18px;
  color: black;
  background-color: white;
  font-weight: bold;
}

.nav {
  font-family: Questrial;
  font-weight: bold;
  font-size: 20px;
  background-color: black;
  opacity: .6;
}

img {
  min-width: 1280px;
}

.navbar {
  top: -680px;
}

.nav {
  position: fixed;
  top: 10px;
}

.introduction {
  background-color: #92a8d1;
  background-image: url("http://orig15.deviantart.net/65bf/f/2012/309/7/9/minimalist_metal_wallpaper_by_malkowitch-d5k14s4.jpg");
  background-size: 100% 100%;
  height: 1080px;
}

.profile {
  width: 250px;
  height: 250px;
  border-radius: 250px;
  background-color: red;
  opacity: .7;
  margin-top: 30px;
  margin-bottom: 30px;
  background-image: url("https://imagizer.imageshack.us/v2/736x726q90/923/Ui0Baz.jpg");
  background-size: 100%;
}

.resume {
  width: 300px;
  height: 390px;
  background-color: white;
  background-image: url("http://i709.photobucket.com/albums/ww99/saxal28/Screenshot_zps2pwtvrsb.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.page {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
}

.portfolio-img-title {
  font-size: 20px;
  font-family: Questrial;
  colorl: black;
  text-align: center;
  background-color: white;
  opacity: .9
}

.portfolio-img {
  width: 400px;
  height: 250px;
  background-color: red;
  padding-left: 10px;
}

.first-img {
  background-image: url("http://i709.photobucket.com/albums/ww99/saxal28/S9YQpYg_zpsdaezorf0.gif");
  background-repeat: no-repeat;
  background-size: 100%;
}

.second-img {
  background-image: url("http://i709.photobucket.com/albums/ww99/saxal28/6gCn4lZ%20-%20Imgur_zpsaudr6bxp.gif");
}

.third-img {
  background-image: url("http://i709.photobucket.com/albums/ww99/saxal28/6gCn4lZ%20-%20Imgur_zpsaudr6bxp.gif");
}

.fourth-img {
  background-image: url("http://i709.photobucket.com/albums/ww99/saxal28/6gCn4lZ%20-%20Imgur_zpsaudr6bxp.gif");
}

.portfolio {
  background-image: url("http://imagizer.imageshack.us/a/img923/7851/gWkohI.gif");
  background-size: 100% 100%;
  height: 1080px;
}

.portfolio-container {
  height: 660px;
  width: 900px;
  opacity: .8;
  padding: 40px 40px 40px 40px;
}

.contact {
  background-color: #d4661a;
  background-image: url("https://crossmediaendaarvoorbij.files.wordpress.com/2015/05/animated-gifs-30974-31705-hd-wallpapers1.gif");
  background-size: 100% 100%;
  height: 1080px;
  padding-right: 200px;
  padding-left: 200px;
}

.textbox {
  background-color: black;
  opacity: 0.85;
  height: 160px;
  width: 1400px;
  padding-top: 30px;
  margin-top: 50px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
}

.subtitle {
  padding-top: 80px;
  padding-bottom: 50px;
  color: white;
  font-weight: bold;
  font-size: 60px;
  font-family: Rock Salt;
  opacity: 0.9;
}

.contact-box {
  height: 400px;
  width: 800px;
  padding-top: 0px;
  margin-top: 50px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 30px;
}

.form-control {
  background-color: black;
  font-family: Questrial;
  padding-left: 15px;
  font-size: 25px;
  height: 50px;
}